.block {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    background-color: #fff;

    z-index: 1000;
}

.block--initial {
    position: fixed;
    right: 10vw;
    top: 3vh;
}

.block--fixed {
    position: fixed;
}

.block--absolute {
    position: absolute;
}


.block__head {
    width: 100%;
    height: 2vw;

    cursor: move;
    background-color: #8aefb0;
}